.caixa{
    background-color: rgb(201, 199, 199);
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    padding-left: 40px;
}
.profile{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    border-top: solid 1px blue;
    margin:5px;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.texto_1{
    text-align: center;
    color: gray;
}
.img_perfil{
    border: solid 2px gray;
    padding: 5px;
}
