p{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.imglobby{
    border-radius: 40px;
}
.divdestino{
    width: 500px; 
    height: 500px;
    background-color:aliceblue; 
    margin-left: 100px; 
    border-radius: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.textop{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
}
a{
    text-decoration: none;
    font-size: 20px;
    color: #f9ab01;
}